.email-modal {
    width: 40vw !important;
    min-height: 35vh !important;
    max-height: 38vh !important;
    overflow-y: scroll;
}

.button-container {
    width: max-content;
    margin: 10px auto;
}
